html {
  @media screen and (min-aspect-ration: 16/9) {
  }
}
:root {
  /* for narrow screen */
  --primary-font-size: 24px;
  --font-ex-large: 4rem;
  --font-large: 2rem;
  --font-med: 1.5rem;
  --font-small: 1rem;
  --color-primary: rgb(255, 127, 17);
  --color-secondary: rgb(172, 191, 164);
  --color-light: rgb(226, 232, 206);
  --color-dark: rgb(38, 38, 38);
  @media screen and (min-aspect-ratio: 16/9) {
    /* for wide screens */
    --primary-font-size: 20px;
  }
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
  font-weight: 700;
  font-size: var(--primary-font-size);
  width: 100vw;
  padding: 20px 10px;
  background: linear-gradient(0deg, transparent, rgba(100, 100, 100, 0.4));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @media screen and (min-aspect-ratio: 16/9) {
    padding: 20px 40px;
  }
}
.body {
  background-image: url("/mountain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  .hero {
    width: 100%;
    top: 50px;
    padding: 32px;
    z-index: 2;
    min-height: 500px;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: var(--font-ex-large);
  }
  .items {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
      max-width: 1500px;
      padding: 1rem 1.2rem;
      width: 100%;
      text-align: right;
      font-size: var(--font-large);
      font-weight: 600;
      font-family: 'DM Serif Text', serif;
    }
    .items-body {
      display: grid;
      grid-gap: 10px;
      align-content: center;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
      width: 100%;
      max-width: 1400px;
      @media screen and (min-aspect-ratio: 16/9) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
      }
      .item {
        --item-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        justify-content: end;
        border-radius: var(--item-radius);
        overflow: hidden;
        position: relative;
        transition-duration: 0.2s;
        cursor: pointer;
        min-width: 160px;
        min-height: 200px;
        max-width: 200px;
        max-height: 250px;
        .thumbnail {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          aspect-ratio: 1;
          background-size: cover;
          background-clip: border-box;
          background-repeat: no-repeat;
          background-position: center;
        }
        .item-description-container {
          --item-pad: 1rem;
          background: linear-gradient(0deg, rgba(0,0,0,0.6), transparent);
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          display: flex;
          justify-content: space-between;
          align-items: end;
          gap: 10px;
          .item-description {
          padding: var(--item-pad);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            width: 100%;
            line-height: 1.1;
            flex: 3;
            font-weight: 600;
            font-size: var(--font-small);
            .item-price {
              font-family: 'Sono', sans-serif;
            }
            .item-name {
              font-family: 'DM Serif Text', serif;
            }
          }
          .add-to-cart {
          padding: var(--item-pad);
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .item-button {
            font-size: var(--font-med);
            font-weight: 600;
            background: var(--color-primary);
            padding: 1.4rem;
            letter-spacing: 0;
            line-height: 0;
            border-radius: calc(var(--item-radius) - var(--item-pad) / 2);
            color: var(--color-light);
          }
          .item-button:active {
            transform: scale(0.95);
          }
          .quantity {
            font-size: var(--font-med);
            font-weight: 600;
          }
        }
        .selected-item-description-container {
          backdrop-filter: blur(5px);
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: var(--item-pad);
          /* transition-duration: 0.5s; */
          /* animation-name: slide-in;
          animation-duration: 500ms;
          animation-timing-function: ease-in-out;
          animation-fill-mode: both; */
          /* animation-fill-mode: forwards; */
          overflow: hidden;
          .quantity {
          }
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
.footer {
  width: 100%;
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}