.cart {
  padding: 1rem;
  .flex-body {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    .body-2{
      flex: 1;
      height: 100%;
      width: 100%;
      min-width: 400px;
      .checkout {
        background :red;
        height: 100%;
        width: 100%;
      }
    }
    .body-1{
      min-width: 400px;
      flex: 2;
      height: 100%;
      width: 100%;
      .cart-head {
        margin: 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
      .cart-body {
        width: 100%;
        .cart-items {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .item-body {
            border-radius: 12px;
            padding: 1rem;
            display: flex;
            gap: 1rem;
            width: 100%;
            background: var(--color-dark);
            .thumbnail {
              max-width: 200px;
              width: 40%;
              aspect-ratio: 1;
              object-fit: cover;
              border-radius: 12px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            .item-details {
              display: flex;
              flex-direction: column;
              align-items: end;
              gap: 1em;
              width: 100%;
              .details {
                width: 100%;
                display: flex;
                align-items: end;
                flex-direction: column;
                flex: 1;
              }
              .item-name {
                font-size: large;
                font-weight: bold;
              }
              .item-price {
                font-size: large;
                font-weight: bold;
                font-family: 'DM Serif Text', serif;
              }
              .quantity {
                display: flex;
                gap: 1rem;
                align-items: center;
                button {
                  font-size: large;
                  font-weight: bold;
                  background: var(--color-primary);
                  color: var(--color-light);
                  padding: 1rem;
                  line-height: 0;
                  aspect-ratio: 1;
                  border-radius: 100px;
                  cursor: pointer;
                  transition: all 0.3s ease-in-out;
                  &:active {
                    transform: scale(0.95);
                  }
                }            
              }
            }
          } 
        }
      }
    }
  }
}